  body {
    font-family: 'Arial';
  }
  
  .contact-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 400px;
    padding-left: 180px;
  }
  
  .contact-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .contact-left-title h2 {
    font-weight: 700;
    color: #433f3f;
    font-size: 60px;
  }
  
  .contact-left-title hr {
    width: 200px;
    height: 7px;
    background: linear-gradient(270deg, #142de9, #39a7e7);
  }
  
  .contact-inputs {
    width: 500px;
    height: 70px;
    padding-left: 25px;
    font-weight: 500;
    color: #000000;
    background-color: rgb(255, 255, 255);
    border: 1px solid grey;
    border-radius: 4px; 
  }
  
  .contact-left textarea {
    height: 170px;
    padding-top: 25px;
  }
  
  
  .contact-left button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border-radius: 50px;
    background: linear-gradient(270deg, #142de9, #39a7e7);
    cursor: pointer;
  }